[submodule "cobble"]
	path = cobble
	url = https://github.com/cbiffle/cobble-build.git
[submodule "3p/gtest/upstream"]
	path = 3p/gtest/upstream
	url = https://github.com/google/googletest.git
[submodule "etl"]
	path = etl
	url = https://github.com/cbiffle/etl.git
[submodule "doc/manual/_themes/sphinx_rtd_theme"]
	path = doc/manual/_themes/sphinx_rtd_theme
	url = https://github.com/snide/sphinx_rtd_theme.git
